{% block menu %}
    {% load static %}

    <div class="social-media-links">
        <a href="https://www.instagram.com/a.iva88/" target="_blank"
        ><img
                src="{% static 'images/instagram logo.png' %}"
                class="social-media"
                alt="instagram-logo"/></a
        ><!--Your instagram homepage link inser in place of "#"-->
        <a href="https://www.facebook.com/al.iva.503" target="_blank"
        ><img
                src="{% static 'images/facebook logo.png' %}"
                class="social-media"
                alt="facebook-logo"
        /></a>
        <a href="#"
        ><img
                src="{% static 'images/linkedin logo.png' %}"
                class="social-media"
                alt="linkedin-logo"
        /></a>
        <a href="#"
        ><img
                src="{% static 'images/twitter logo.png' %}"
                class="social-media"
                alt="twitter-logo"
        /></a>
        <a href="#"
        ><img
                src="{% static 'images/mail.png' %}"
                class="social-media"
                alt="twitter-logo"
        /></a>
        <a href="#"
        ><img
                src="{% static 'images/call.png' %}"
                class="social-media"
                alt="twitter-logo"
        /></a>


    </div>
{% endblock %}