{% block menu %}
    {% load static %}
    <!--Navigator-fullscreen-->
    <div id="navigation-content">
        <div class="logo">
            <img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'images/willy wonka logo.png' %} {% endif %}"/>
{#            <img src="{% static 'images/willy wonka logo.png' %}" alt="logo"/>#}
        </div>
        <div class="navigation-close">
            <span class="close-first"></span>
            <span class="close-second"></span>
        </div>
        <div class="navigation-links">
            <a href="#" data-text="ГЛАВНАЯ" id="home-link">ГЛАВНАЯ</a>
            <a href="{% url 'songs:about' %}" data-text="ОБОМНЕ" id="about-link">ОБО МНЕ</a>
            <a href="{% url 'songs:fotogalery' %}" data-text="ГАЛЕРЕЯ" id="about-link">ГАЛЕРЕЯ</a>
            <a href="{% url 'songs:blog' %}" data-text="БЛОГ" id="blog-link">БЛОГ</a>
            <a href="{% url 'songs:song' %}" data-text="ТРЕКИ" id="portfolio-link">ТРЕКИ</a>
            <a href="{% url 'songs:contact' %}" data-text="КОНТАКТЫ" id="contact-link">КОНТАКТЫ</a>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" data-text="АККАУНТ" id="contact-link">АККАУНТ</a>
                <a href="{% url 'users:logout' %}" data-text="ВЫЙТИ" id="contact-link">ВЫЙТИ</a>
                {% if user.is_staff %}
                  <a href="/admin/" data-text="АДМИНКА" id="contact-link">АДМИНКА</a>
                    {% endif %}
            {% else %}
                <a href="{% url 'users:login' %}" data-text="ВОЙТИ" id="contact-link">ВОЙТИ</a>
                <a href="{% url 'users:registration' %}" data-text="РЕГИСТРАЦИЯ" id="contact-link">РЕГИСТРАЦИЯ</a>
            {% endif %}
        </div>
    </div>
    <!--Navigator-Fullscreen END-->
{% endblock %}
