{% extends 'songsapp/basa_songs.html' %}
{% load static %}
{% block content %}
<body>
    <!-- MAIN CONTENT -->
    <main id="about-one">
         <{% include 'songsapp/includes/inc_headphone.html' %}
        <div id="about-one-content">
           {% include 'songsapp/includes/inc_logo_songs.html' %}

<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->


<div class="scrolling-part">
      
</div>
          
<div class="heading">
    <span class="text">
      ОБО МНЕ
    </span> 
 </div>    

<div class="center">
  <!-- ABOUT IMG -->
  <div class="about-img img">
    <img class="img-parallax" src="{% static 'css_songs/images/about_iva.jpg' %}" alt="about-img">
  </div>
  <!-- ABOUT IMG -->
</div>
<div class="center">
  <div class="about-text">
    <div class="about-text-heading  text-scroll">
     Привет. Я, <span class="red"> Andrey Iva,</span> моё любимое время года осень, ведь именно в это время я пишу свои песни.
    </div>
    <div class="about-text-content  text-scroll">
      Человек - это продукт своих собственных мыслей. О чём он думает, тем и становится.
    </div>
    
   </div>
</div>

<div class="signature">
   <span class="text-scroll"> Andrey Iva</span>
</div>



             
 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
  <img src="{% static 'css_songs/images/headphone.png' %}" title="headphone zone" class="text" alt="headphone">
</div>
 <!-- HEADPHONE IMG -->

        </div>
    </div>
        <!-- NAVIGATION CONTENT -->
 {% include 'songsapp/includes/inc_menu_songs.html' %}
  <!-- NAVIGATION CONTENT -->
    </main>
    <!-- MAIN CONTENT -->

</body>
{% endblock %}