{% extends 'songsapp/basa_songs.html' %}
{% load static %}
 {% block content %}


<body>
    <main id="blog-single">

           <!-- CUSTOM CURSOR -->
          {% include 'songsapp/includes/inc_headphone.html' %}

          <div id="blog-single-content">

    <!-- NAVIGATION -->
    {% include 'songsapp/includes/inc_logo_songs.html' %}
  <!-- NAVIGATION -->


  <!-- HEADING -->
  <div class="heading">
      <div class="text">
        {{ blog.blog_name }}
      </div>
  </div>

  <!-- HEADING -->

  <div class="center">


 <!-- BLOG IMG -->
 <div class="blog-img img">

    <img src="{{ blog.in_main_image.url }}" alt="blog-img">

  </div>
  <!-- BLOG IMG -->


  <div class="center-para">

  <!-- BLOG TEXT -->
<div class="blog-text">


    <!-- BLOG INFO -->

    <div class="blog-info">
      <div class="blog-date text-scroll">{{ blog.blog_date }}</div>
      <div class="blog-duration img-scroll text-scroll"><img src="{% static 'css_songs/images/clock.png' %}" alt="clock">&nbsp; 4 Min </div>
    </div>

    <!-- BLOG INFO -->


  <!-- BLOG HEADING -->
{#  <div class="blog-heading text-scroll">#}
{#    {{ blog.blog_name }}#}
{#  </div>#}

  <!-- BLOG HEADING -->


    <!-- PARAGRAPH -->
    <div class="para text-scroll">
      {{ blog.in_paragraph_one }}
      </div>
    <!-- PARAGRAPH -->


    <!-- PARAGRAPH -->
    <div class="para text-scroll">
       {{ blog.in_paragraph_two }}
        </div>
      <!-- PARAGRAPH -->


          <!-- IMAGES -->
    <div class="blog-text-img">

        <div class="img-scroll">
            <img src="{{ blog.in_one_image.url }}" alt="img" >
        </div>

        <div class="img-scroll">
            <img src="{{ blog.in_two_image.url }}" alt="img" >
        </div>
    </div>
    <!-- IMAGES -->



      <!-- PARAGRAPH ITALIC-->
    <div class="para text-scroll italic ">
     <i>{{ blog.iin_paragraph_three }}</i>
        </div>
      <!-- PARAGRAPH ITALIC -->


        <!-- PARAGRAPH -->
    <div class="para text-scroll">
        {{ blog.in_paragraph_four }}
         </div>
       <!-- PARAGRAPH -->

       <!-- SHARE LINKS -->

       <div class="share-links para">
         <ul>
          <li class="text-scroll">Share:</li>
          <li ><a href="#"  class="text-scroll hover ">YT</a></li>
          <li ><a href="#"  class="text-scroll hover ">FB</a></li>
          <li ><a href="#"  class="text-scroll hover ">IG</a></li>
      </ul>
       </div>

       <!-- SHARE LINKS -->

       <div class="signature">
        <span class="text-scroll"> Arlo Brown.</span>
     </div>

</div>

</div>

  <!-- BLOG TEXT -->


  </div>

 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
    <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
  </div>
   <!-- HEADPHONE IMG -->



<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->

             </div>

               <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
          <a href="#" class="text">ARLO BROWN</a>
         </div>
        <ul class="navigation-ul">
            <li><a href="index-one.html" data-text="Home" data-img="images/bg-image-three.jpg">Home</a></li>
            <li><a href="about-one.html"  data-text="About"  data-img="images/about-img.jpg">About</a></li>
            <li><a href="songs-one.html" data-text="Songs"  data-img="images/album-thumbnail-nine.jpg">Songs</a></li>
            <li><a href="blog-one.html"  data-text="Blogs" data-img="images/main-bg-three.jpg">Blogs</a></li>
            <li><a href="contact-one.html"  data-text="Contact" data-img="images/album-thumbnail-four.jpg">Contact</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>

            <div class="project-preview"></div>


     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
      </div>
       <!-- HEADPHONE IMG -->


        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li ><a href="#"  class="text hover opacity">YT</a></li>
                <li ><a href="#"  class="text hover opacity">FB</a></li>
                <li ><a href="#"  class="text hover opacity">IG</a></li>
            </ul>
        </div>
          <!-- SOCIAL MEDIA LINKS -->

    </div>

    <!-- NAVIGATION CONTENT -->

    </main>

</body>
{% endblock %}

