{% extends 'songsapp/basa_songs.html' %}
{% load static %}
 {% block content %}

<body>
    <main id="blog-single">

           <!-- CUSTOM CURSOR -->
          {% include 'songsapp/includes/inc_headphone.html' %}

          <div id="blog-single-content">

    <!-- NAVIGATION -->
    {% include 'songsapp/includes/inc_logo_songs.html' %}
  <!-- NAVIGATION -->


  <!-- HEADING -->
  <div class="heading">
      <div class="text">
        {{ blog.blog_name }}
      </div>
  </div>

  <!-- HEADING -->

  <div class="center">


 <!-- BLOG IMG -->
 <div class="blog-img img">

    <img src="{{ blog.in_main_image.url }}" alt="blog-img">

  </div>
  <!-- BLOG IMG -->


  <div class="center-para">

  <!-- BLOG TEXT -->
<div class="blog-text">


    <!-- BLOG INFO -->

    <div class="blog-info">
      <div class="blog-date text-scroll">{{ blog.blog_date }}</div>
      <div class="blog-duration img-scroll text-scroll"><img src="{% static 'css_songs/images/clock.png' %}" alt="clock">&nbsp; 4 Min </div>
    </div>

    <!-- BLOG INFO -->


  <!-- BLOG HEADING -->
{#  <div class="blog-heading text-scroll">#}
{#    {{ blog.blog_name }}#}
{#  </div>#}

  <!-- BLOG HEADING -->


    <!-- PARAGRAPH -->
    <div class="para text-scroll">
      {{ blog.in_paragraph_one }}
      </div>
    <!-- PARAGRAPH -->


    <!-- PARAGRAPH -->
    <div class="para text-scroll">
       {{ blog.in_paragraph_two }}
        </div>
      <!-- PARAGRAPH -->


          <!-- IMAGES -->
    <div class="blog-text-img">

        <div class="img-scroll">
            <img src="{{ blog.in_one_image.url }}" alt="img" >
        </div>

        <div class="img-scroll">
            <img src="{{ blog.in_two_image.url }}" alt="img" >
        </div>
    </div>
    <!-- IMAGES -->



      <!-- PARAGRAPH ITALIC-->
    <div class="para text-scroll italic ">
     <i>{{ blog.iin_paragraph_three }}</i>
        </div>
      <!-- PARAGRAPH ITALIC -->


        <!-- PARAGRAPH -->
    <div class="para text-scroll">
        {{ blog.in_paragraph_four }}
         </div>
       <!-- PARAGRAPH -->

       <!-- SHARE LINKS -->

{#       <div class="share-links para">#}
{#         <ul>#}
{#          <li class="text-scroll">Share:</li>#}
{#          <li ><a href="#"  class="text-scroll hover ">YT</a></li>#}
{#          <li ><a href="#"  class="text-scroll hover ">FB</a></li>#}
{#          <li ><a href="#"  class="text-scroll hover ">IG</a></li>#}
{#      </ul>#}
{#       </div>#}

       <!-- SHARE LINKS -->

       <div class="signature">
        <span class="text-scroll"> AndreyIva</span>
     </div>

</div>

</div>

  <!-- BLOG TEXT -->


  </div>

 <!-- HEADPHONE IMG -->
   {% include 'songsapp/includes/inc_headphone_footer.html' %}
<!-- progress-bar -->

             </div>

               <!-- NAVIGATION CONTENT -->

     {% include 'songsapp/includes/inc_menu_songs.html' %}

    <!-- NAVIGATION CONTENT -->

    </main>

</body>
{% endblock %}

