<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Просмотр шаблона №185422</title>
    <meta property="og:title" content="Просмотр шаблона №185422" />
    <meta name="twitter:title" content="Просмотр шаблона №185422" />
    <meta name="og:image:alt" content="Просмотр шаблона №185422" />
    <link
      rel="canonical"
      href="https://www.templatemonsterpreview.com/ru/demo/185422.html"
    />
    <meta
      property="og:url"
      content="https://www.templatemonsterpreview.com/ru/demo/185422.html"
    />
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="msapplication-TileColor" content="#2196f3" />
    <meta
      name="msapplication-TileImage"
      content="https://s3sf.tmimgcdn.com/mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="https://s3sf.tmimgcdn.com/browserconfig.xml"
    />
    <meta
      name="pinterest-logo"
      content="https://s3sf.tmimgcdn.com/pinterest-logo.png"
    />
    <meta name="theme-color" content="#2196f3" />
    <meta property="og:site_name" content="TemplateMonster" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="templatemonster" />
    <meta name="twitter:creator" content="templatemonster" />
    <meta property="og:type" content="page" />
    <meta
      property="og:image"
      content="https://s.tmimgcdn.com/scr/1200x750/185400/wink-sablon-nacalnoj-zagruzki-portfolio-modeli_185422-original.png"
    />
    <meta
      property="twitter:image"
      content="https://s.tmimgcdn.com/scr/1200x750/185400/wink-sablon-nacalnoj-zagruzki-portfolio-modeli_185422-original.png"
    />
    <link
      property="image_src"
      href="https://s.tmimgcdn.com/scr/1200x750/185400/wink-sablon-nacalnoj-zagruzki-portfolio-modeli_185422-original.png"
    />
    <meta property="fb:app_id" content="128293383907353" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MS2BNB");
    </script>
    <!-- End Google Tag Manager -->
    <link
      href="//www.templatemonster.com/assets/css/demo-e3c320879927c7b0dbde.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MS2BNB"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrap">
      <section class="content">
        <div class="frame-wrapper" id="frame-wrapper">
          <iframe
            class="frame"
            src="https://hollowbones.tech/themes/model-html-template-three/"
            width="100%"
            height="400px"
            title="Preview Template"
            sandbox="allow-forms allow-same-origin allow-scripts allow-top-navigation allow-popups"
          ></iframe>
        </div>
      </section>
    </div>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@graph": [
          {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Просмотр шаблона №185422",
            "url": "https://www.templatemonsterpreview.com/demo/185422.html"
          }
        ]
      }
    </script>
    <script type="text/javascript">
      window.__app__ = window.__app__ || {};
      window.__app__ = {
        language: "ru",
        apiLocale: "ru",
        analytics: { pageType: "Cross-page" },
        js: {
          cookieDomain: ".templatemonster.com",
          liveDemoCookieDomain: ".templatemonsterpreview.com",
          liveDemoDomain: "\/\/www.templatemonsterpreview.com\/",
          fontPreviewDomain: "\/\/s3f.tmimgcdn.com\/",
          domain: "https:\/\/www.templatemonster.com",
          api: {
            f1: "https:\/\/www.templatemonster.com\/f1\/api",
            products: "https:\/\/api.templatemonster.com\/products",
            pages: "https:\/\/api.templatemonster.com\/pages",
            navigations: "https:\/\/api.templatemonster.com\/navigations",
            properties: "https:\/\/api.templatemonster.com\/properties",
            authors: "https:\/\/api.templatemonster.com\/authors",
            currencies: "https:\/\/api.templatemonster.com\/currencies",
            reviews: "https:\/\/api.templatemonster.com\/reviews",
            collection: "https:\/\/api.templatemonster.com\/collection",
            carts: "https:\/\/api.templatemonster.com\/carts",
            users: "https:\/\/api.templatemonster.com\/users",
            promos: "https:\/\/api.templatemonster.com\/promos",
            services: "https:\/\/api.templatemonster.com\/services",
            licenses: "https:\/\/api.templatemonster.com\/licenses",
            support: "https:\/\/api.templatemonster.com\/support",
            mailer: "https:\/\/api.templatemonster.com\/mailer",
          },
          revive: {
            url: "https:\/\/r.templatemonster.com\/dl\/1asyncjs.php",
            zoneId: 14,
            hash: "5dba4d01a92de7101be5c5e6e1630dfe",
          },
        },
      };
    </script>
    <script
      src="//www.templatemonster.com/assets/js/commons-d4487eeac3ff0b1abaca.js"
      async="async"
    ></script>
    <script
      src="//www.templatemonster.com/assets/js/demo-e871be96bf71562207fd.js"
      async="async"
    ></script>
    <script>
      window.addEventListener("load", function () {
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          pageType: "Cross-page",
          portalName: "All",
          portalContent: "All",
          categoryName: "Other",
        });
      });
      window.addEventListener("load", function () {
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          event: "detailView",
          ecommerce: {
            detail: {
              products: [
                {
                  name: "Website template",
                  id: 185422,
                  price: 0.49,
                  brand: "HTML",
                  category: "photography templates",
                  variant: "premium",
                },
              ],
            },
          },
        });
        window.dataLayer.push({
          event: "detailViewNew",
          productDetailView: {
            name: "WINK - \u0448\u0430\u0431\u043b\u043e\u043d \u043d\u0430\u0447\u0430\u043b\u044c\u043d\u043e\u0439 \u0437\u0430\u0433\u0440\u0443\u0437\u043a\u0438 \u043f\u043e\u0440\u0442\u0444\u043e\u043b\u0438\u043e \u043c\u043e\u0434\u0435\u043b\u0438",
            id: 185422,
            price: 0.49,
            brand: "HTML",
            category: "photography templates",
            variant: "premium",
            imageurl:
              "https:\/\/s.tmimgcdn.com\/scr\/800x500\/185400\/wink-sablon-nacalnoj-zagruzki-portfolio-modeli_185422-original.png",
            similars: [],
          },
        });
      });
    </script>
  </body>
</html>
