{% extends 'songsapp/basa_songs.html' %}
{% load static %}
 {% block content %}
  <body>
    <main id="songs-one">
     {% include 'songsapp/includes/inc_headphone.html' %}
<!-- CONTENT -->
        <div id="songs-one-content">

{% include 'songsapp/includes/inc_logo_songs.html' %}

<!-- HEADING -->
<div class="heading">
    <div class="text">
        ТРЕКИ
    </div>
</div>

<!-- HEADING -->
<!-- SONGS CONTAINER -->

<div class="center">
<div id="songs-container">

{% for song in songs %}
        <!-- SONG -->
<div class="song fade-up">
    <div class="song-img">
        <img src="{{ song.image_album.url }}" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">{{ song.song_name }}</div>
        <div class="artist-name">{{ song.artist_name }}</div>
        </div>
        <div class="music-player">
            <div class="play-song mouse">
                <!-- DATA-SONG AND DATA-AUDIO SHOULD EXACTLY BE SAME -->
                <img src="{% static 'css_songs/images/play.png' %}" alt="play" data-song="{{ song.music_file.url }}">
                <!--   DATA-SONG AND DATA-AUDIO VALUE SHOULD MATCH   -->
                <audio data-audio="{{ song.music_file.url }}">
                    <source src="{{ song.music_file.url }}"  type="audio/ogg">
                    <source src="{{ song.music_file.url }}" type="audio/mp3">
                    </audio>
            </div>
            <div class="download-song">
                <a href="{{ song.music_file.url }}"  download="{{ song.song_name }}">{{ song.size_music }}<img src="{% static 'css_songs/images/download.png' %}" alt="download"></a>
            </div>
        </div>
    </div>
</div>
    <!-- SONG -->
{% endfor %}

</div>
</div>

<!-- SONGS CONTAINER -->



 <!-- MUSIC INDICATOR -->
 <div class="music-indicator">
    <span style="--i:1;" class="music-indicator-span"></span>
    <span style="--i:2;" class="music-indicator-span "></span>
    <span style="--i:3;" class="music-indicator-span "></span>
    <span style="--i:4;" class="music-indicator-span "></span>
  </div>
   <!-- MUSIC INDICATOR -->




<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->



        </div>
<!-- CONTENT -->


    <!-- NAVIGATION CONTENT -->
{% include 'songsapp/includes/inc_menu_songs.html' %}
    </main>

</body>
{% endblock %}

