{% load static %}

<section class="section-lg bg-periglacial-blue text-center">
    <div class="shell">
        <div class="range range-sm-center range-75">
            <!-- <div class="cell-xs-12">
              <h2>latest blog posts</h2>
              <div class="p text-width-medium">
                <p class="big">
                  Barbershop is not only a place where you can get a first-class
                  haircut. Our barbers also write interesting articles on
                  everything concerning their sphere of interest.
                </p>
              </div>
            </div> -->
            <div class="cell-xs-12">
                <div
                        class="slick-slider carousel-center-mode"
                        data-arrows="false"
                        data-loop="true"
                        data-dots="true"
                        data-swipe="true"
                        data-autoplay="false"
                        data-items="1"
                        data-lg-items="3"
                        data-center-mode="true"
                        data-center-padding="0.0"
                >
                    <div class="item">
                        <div class="slick-slide-inner">
                            <article class="post-classic">
                                <img
                                        class="post-classic-image"
                                        src="{% static 'images/blog-1-770x330.jpg' %}"
                                        alt=""
                                        width="770"
                                        height="330"
                                />
                                <div class="post-classic-body">
                                    <p class="post-classic-title">
                                        <a href="single-post.html"
                                        >ИВАН ELES</a
                                        >
                                    </p>
                                    <div class="post-classic-text">
                                        <p>
                                            A barber knows how to cut men’s hair. If
                                            you’re like most men these days, you’re
                                            probably going to some unisex chain salon.
                                            Most of the time, you’d walk out of these
                                            places with an average haircut. Sometimes...
                                        </p>
                                    </div>
                                    <div class="post-classic-footer">
                                        <div class="post-classic-footer-left">
                                            <a
                                                    class="btn btn-xs btn-primary btn-circle"
{#                                                    href="{% url 'fotogallery' %}"#}
                                            >READ MORE</a>
                                        </div>
                                        <div class="post-classic-footer-right">
                                            <ul class="post-classic-meta">
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-heart
                                          "
                                        ></span
                                        ><span>24</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-eye
                                          "
                                        ></span
                                        ><span>132</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-calendar-plus-o
                                          "
                                        ></span>
                                                    <time datetime="2017-08-26"
                                                    >26.08.2017
                                                    </time
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slick-slide-inner">
                            <article class="post-classic">
                                <img
                                        class="post-classic-image"
                                        src="{% static 'images/blog-2-770x330.jpg' %}"
                                        alt=""
                                        width="770"
                                        height="330"
                                />
                                <div class="post-classic-body">
                                    <p class="post-classic-title">
                                        <a href="single-post.html"
                                        >What Haircut Suits You</a
                                        >
                                    </p>
                                    <div class="post-classic-text">
                                        <p>
                                            Different people have different face shapes.
                                            And not you, but your face shape decides
                                            will this haircut suit you or not. The
                                            Barbershop has prepared some advice for you,
                                            how to choose a proper haircut for...
                                        </p>
                                    </div>
                                    <div class="post-classic-footer">
                                        <div class="post-classic-footer-left">
                                            <a
                                                    class="btn btn-xs btn-primary btn-circle"
                                                    href="single-post.html"
                                            >READ MORE</a
                                            >
                                        </div>
                                        <div class="post-classic-footer-right">
                                            <ul class="post-classic-meta">
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-heart
                                          "
                                        ></span
                                        ><span>24</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-eye
                                          "
                                        ></span
                                        ><span>132</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-calendar-plus-o
                                          "
                                        ></span>
                                                    <time datetime="2017-08-26"
                                                    >26.08.2017
                                                    </time
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slick-slide-inner">
                            <article class="post-classic">
                                <img
                                        class="post-classic-image"
                                        src="{% static 'images/blog-3-770x330.jpg' %}"
                                        alt=""
                                        width="770"
                                        height="330"
                                />
                                <div class="post-classic-body">
                                    <p class="post-classic-title">
                                        <a href="single-post.html"
                                        >Top 7 Shaving Products</a
                                        >
                                    </p>
                                    <div class="post-classic-text">
                                        <p>
                                            The right shaving cream can make the
                                            difference between a healthy skin and one
                                            plagued by ingrown hairs, razor burns,
                                            irritation, and a variety of other issues
                                            that arise from nicks and cuts. In the times
                                            of old, people used soap when shaving and
                                            although there are still plenty of...
                                        </p>
                                    </div>
                                    <div class="post-classic-footer">
                                        <div class="post-classic-footer-left">
                                            <a
                                                    class="btn btn-xs btn-primary btn-circle"
                                                    href="single-post.html"
                                            >READ MORE</a
                                            >
                                        </div>
                                        <div class="post-classic-footer-right">
                                            <ul class="post-classic-meta">
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-heart
                                          "
                                        ></span
                                        ><span>24</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-eye
                                          "
                                        ></span
                                        ><span>132</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-calendar-plus-o
                                          "
                                        ></span>
                                                    <time datetime="2017-08-26"
                                                    >26.08.2017
                                                    </time
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slick-slide-inner">
                            <article class="post-classic">
                                <img
                                        class="post-classic-image"
                                        src="{% static 'images/blog-2-770x330.jpg' %}"
                                        alt=""
                                        width="770"
                                        height="330"
                                />
                                <div class="post-classic-body">
                                    <p class="post-classic-title">
                                        <a href="single-post.html"
                                        >Visiting a Barber</a
                                        >
                                    </p>
                                    <div class="post-classic-text">
                                        <p>
                                            A barber knows how to cut men’s hair. If
                                            you’re like most men these days, you’re
                                            probably going to some unisex chain salon.
                                            Most of the time, you’d walk out of these
                                            places with an average haircut. Sometimes...
                                        </p>
                                    </div>
                                    <div class="post-classic-footer">
                                        <div class="post-classic-footer-left">
                                            <a
                                                    class="btn btn-xs btn-primary btn-circle"
                                                    href="single-post.html"
                                            >READ MORE</a
                                            >
                                        </div>
                                        <div class="post-classic-footer-right">
                                            <ul class="post-classic-meta">
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-heart
                                          "
                                        ></span
                                        ><span>24</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-eye
                                          "
                                        ></span
                                        ><span>132</span>
                                                </li>
                                                <li>
                                        <span
                                                class="
                                            icon icon-xxs icon-primary
                                            fa fa-calendar-plus-o
                                          "
                                        ></span>
                                                    <time datetime="2017-08-26"
                                                    >26.08.2017
                                                    </time
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>