{% block menu %}
    {% load static %}

    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
            <a href="{% url 'index' %}" class="text">AndreyIva</a>
        </div>
        <ul class="navigation-ul">
            <li><a href="{% url 'index' %}" data-text="ГЛАВНАЯ"
                   data-img="{% static 'css_songs/images/m_1.jpg' %}">ГЛАВНАЯ</a></li>

            <li><a href="{% url 'songs:about' %}" data-text="ОБОМНЕ"
                   data-img="{% static 'css_songs/images/m_2.jpg' %}">ОБО МНЕ</a></li>
            <li><a href="{% url 'songs:blog' %}" data-text="БЛОГ"
                   data-img="{% static 'css_songs/images/m_3.jpg' %}">БЛОГ</a>
            </li>
            <li><a href="{% url 'songs:song' %}" data-text="ТРЕКИ"
                   data-img="{% static 'css_songs/images/m_4.jpg' %}">ТРЕКИ</a></li>

            <li><a href="{% url 'songs:contact' %}" data-text="КОНТАКТЫ"
                   data-img="{% static 'css_songs/images/contact_m.jpg' %}">КОНТАКТЫ</a></li>


            {% if user.is_authenticated %}
                <li><a href="{% url 'users:profile' %}" data-text="АККАУНТ"
                   data-img="{% static 'css_songs/images/m_5.jpg' %}">АККАУНТ</a></li>
                <li><a href="{% url 'users:logout' %}" data-text="ВЫЙТИ"
                   data-img="{% static 'css_songs/images/m_6.jpg' %}">ВЫЙТИ</a></li>
                {% if user.is_staff %}
                    <li><a href="/admin/" data-text="АДМИНКА"
                   data-img="{% static 'css_songs/images/m_7.jpg' %}">АДМИНКА</a></li>
                    {% endif %}
            {% else %}
                 <li><a href="{% url 'users:login' %}" data-text="ВОЙТИ"
                   data-img="{% static 'css_songs/images/m_3.jpg' %}">ВОЙТИ</a></li>
                 <li><a href="{% url 'users:registration' %}" data-text="РЕГИСТРАЦИЯ"
                   data-img="{% static 'css_songs/images/m_5.jpg' %}">РЕГИСТРАЦИЯ</a></li>

            {% endif %}

        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
        </div>

        <div class="project-preview"></div>


        <!-- HEADPHONE IMG -->
        <div class="headphone-navigation opacity">
            <img src="{% static 'css_songs/images/headphone.png' %}" title="headphone zone" class="text"
                 alt="headphone">
        </div>
        <!-- HEADPHONE IMG -->


        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li><a href="#"><img src="{% static 'images/instagram logo.png' %}" class="social-media"
                                     alt="instagram-logo"/></a></li>
                <li><a href="#"><img src="{% static 'images/facebook logo.png' %}" class="social-media"
                                     alt="facebook-logo"/></a></li>
                <li><a href="#"
                ><img
                        src="{% static 'images/linkedin logo.png' %}"
                        class="social-media"
                        alt="linkedin-logo"
                /></a></li>
                <li><a href="#"
                ><img
                        src="{% static 'images/twitter logo.png' %}"
                        class="social-media"
                        alt="twitter-logo"
                /></a></li>

            </ul>
        </div>
        <!-- SOCIAL MEDIA LINKS -->

    </div>
{% endblock %}