{% block logo %}
    {% load static %}
   <!-- NAVIGATION -->
   <div class="navigation">
    <div class="logo hover ">
       <a href="{% url 'index' %}" class="texts">Andrey Iva</a>
    </div>
    <div class="menu-bar hover ">
        <div class="menu-bar-name texts">
            Меню
        </div>
        <div class="menu-bar-lines texts">
            <div class="menu-bar-line"></div>
            <div class="menu-bar-line"></div>
        </div>
    </div>
</div>
<!-- NAVIGATION -->
{% endblock %}