{% block logo %}
    {% load static %}
   <!-- NAVIGATION -->
   <div class="navigation">
    <div class="logo hover ">
       <a href="{% url 'index' %}" class="texts" style="color: rgb(255, 255, 255,.8);">Andrey Iva</a>
    </div>
    <div class="menu-bar hover ">
        <div class="menu-bar-name texts" style="color: rgb(255, 255, 255,.8);">
            Меню
        </div>
{#        <div class="texts">#}
{#            <div class="menu-bar-line" ></div>#}
{#            <div class="menu-bar-line"></div>#}
{#        </div>#}
    </div>
</div>
<!-- NAVIGATION -->
{% endblock %}